<h1>Well Come To {{hotelName}}</h1>

<div [hidden]="hideRoome">
    Number of rooms:
    <div [ngStyle]="{'color':rooms.aroom?'green':'red'}" [innerText]="nfRoom">

    </div>
    <!-- {{roomlist | json}} -->
</div>

{{ rooms.aroom==0 ?? 'No Room' }}

<div>
    <button (click)="addRoom()">Add Room</button>
</div>
<div *ngIf="rooms.aroom>0">
    <app-room-list [rooms]="roomlist" [ptitle]="ptitle"
    (selectedRoom)="onGetSelectedRoom($event)"></app-room-list>
</div>

<div *ngIf="selectedRoom">
    Selected Room:
    {{selectedRoom | json}}
</div>

<button (click)="toggle()">Toogle</button>